@import 'tailwindcss';

@keyframes diagonalScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(1rem * 8) calc(1rem * 8);
  }
}

@keyframes snap {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-0.5rem);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

canvas,
img {
  image-rendering: pixelated;
  user-select: none;
}

body {
  image-rendering: pixelated;
  background: url('/bg-tile.png') repeat;
  background-size: calc(1rem * 8) calc(1rem * 8);
  appearance: none;
}

button {
  outline: none;
}

.custom-scroll::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: inherit;
}

.custom-scroll::-webkit-scrollbar-corner {
  background-color: transparent;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
